<div class="admin-sidebar">
  <div class="logo-smapp"><img src="/assets/images/smapp.png" /></div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard"><i class="pi pi-home"></i>Dashboard</a>
      </li>
      <li>
        <a routerLink="/companies"> <i class="pi pi-sitemap"></i>Companies</a>
      </li>
      <li>
        <a routerLink="/locations"><i class="pi pi-map-marker"></i>Locations</a>
      </li>
      <li>
        <a routerLink="/products"><i class="pi pi-briefcase"></i>Products</a>
      </li>
      <li>
        <a routerLink="/users"><i class="pi pi-users"></i>Users</a>
      </li>
      <li>
        <a class="logout"><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
